<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>{{meta_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="stylesheet" href="{{asset "css/new.css"}}">
    <link rel="stylesheet" href="{{asset "fonts/new.css"}}">

    <link href="https://abyssdomain.expert/@filippo" rel="me">
    <link href="https://bsky.app/profile/filippo.abyssdomain.expert" rel="me">

    {{ghost_head}}
</head>

<body class="{{body_class}}">
    {{{body}}}

    {{ghost_foot}}
</body>

