{{!< default}}

<main class="index">
    <header><a href="https://filippo.io">
      Filippo Valsorda
    </a></header>

    {{#foreach posts}}
    <article class="{{post_class}}">
        <span class="post-meta">
            <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
        </span>
        <h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
    </article>
    {{/foreach}}
</main>
