{{!< default}}

<style>
main {
    counter-reset: issue calc(1 + {{#get "posts" filter="primary_tag:dispatches"}}{{pagination.total}}{{/get}});
}
.tag-dispatches:not(.tag-maintainer) .post-meta::after {
    counter-increment: issue -1;
    content: "— Cryptography Dispatches #" counter(issue);
}
.tag-dispatches.tag-maintainer .post-meta::after {
    counter-increment: issue -1;
    content: "— Maintainer Dispatches #" counter(issue);
}
</style>

<header><a href="https://filippo.io">
    Filippo Valsorda
</a></header>

<main class="index">
    {{name}}
    {{#match name "=" "dispatches"}}
    <p>
        Cryptography Dispatches is my lightly edited newsletter on cryptography engineering.
        Maintainer Dispatches is a spin-off discussing professional Open Source maintenance.
        You can <a href="#/portal/signup">subscribe via email</a> or
        <a href="https://words.filippo.io/dispatches/rss/">RSS</a> to either or both.
    </p>
    {{/match}}
    {{#foreach posts}}
    <article class="{{post_class}}">
        <span class="post-meta">
            <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
        </span>
        <h1 class="post-title"><a href="{{url}}">{{title}}</a></h1>
    </article>
    {{/foreach}}
</main>
