{{!< default}}

<header><a href="https://filippo.io">
    Filippo Valsorda
</a></header>

<main>
    {{#post}}
    <article class="{{post_class}}">
        {{^is "page"}}
        <span class="post-meta">
            <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
        </span>
        {{/is}}
        <h1 class="post-title">{{title}}</h1>
        {{#has tag="dispatches"}}
        <aside class="dispatches-cta">
            <p>This is an issue of Cryptography Dispatches, my lightly edited newsletter on cryptography engineering.</p>
            <p><form action="https://buttondown.email/api/emails/embed-subscribe/cryptography-dispatches" method="post" target="popupwindow">
                <input type="email" name="email" placeholder="Email address">
                <input type="submit" value="Subscribe">
                <input type="hidden" name="tag" value="blog">
            </form></p>
        </aside>
        {{/has}}
        <section class="post-content">
            {{content}}
        </section>
    </article>
    {{/post}}
</main>
