{{!< default}}

<header><a href="https://filippo.io">
    Filippo Valsorda
</a></header>

<main>
    {{#post}}
    <article class="{{post_class}}">
        {{^is "page"}}
        <span class="post-meta">
            <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
        </span>
        {{/is}}
        <h1 class="post-title">{{title}}</h1>
        {{#has tag="dispatches"}}
        <aside class="dispatches-cta">
            <p>
                This is an issue of
                {{#has tag="maintainer"}}
                Maintainer Dispatches,
                {{else}}
                Cryptography Dispatches,
                {{/has}}
                my lightly edited newsletter on 
                {{#has tag="maintainer"}}
                professional Open Source maintenance.
                {{else}}
                cryptography engineering.
                {{/has}}
                <a href="#/portal/signup">Subscribe via email</a> or <a href="https://words.filippo.io/dispatches/rss/">RSS</a>.
            </p>
        </aside>
        {{/has}}
        <section class="post-content">
            {{content}}
        </section>
    </article>
    <form data-members-form>
        <p>Subscribe to Cryptography Dispatches to hear more about cryptography engineering and professional Open Source maintenance. You can also <a href="/dispatches/">read the archives</a> or <a href="/dispatches/rss/">subscribe with RSS</a>.</p>
        <input data-members-email type="email" required="true" placeholder="alice@example.com" style="width: 100%;padding: 0.75rem;font-size: 1rem;font-family: inherit;border-radius: 0.5rem; border: black solid 1px;box-sizing: border-box;text-align: center;">
        <button type="submit" style="border: 0;border-radius: 0.25rem;background: black;color: white;font-family: inherit;font-size: 1rem;line-height: 1.2;white-space: nowrap;text-decoration: none;padding: 0.75rem; cursor: pointer;margin-top: 1rem;width: 100%;box-sizing: border-box;">Subscribe</button>
    </form>
    {{/post}}
</main>
