{{!< default}}
<header><a href="https://filippo.io">
    <div><picture>
        <source srcset="https://words.filippo.io/content/images/2023/02/Logo-Bianco-Filippo-Valsorda-def-web.png" media="(prefers-color-scheme: dark)">
        <img src="https://words.filippo.io/content/images/2023/02/Logo-Nero-Filippo-Valsorda-def-web.png" alt="Filippo Valsorda">
    </picture></div>
</a></header>

<main>
    {{#post}}
    <article class="{{post_class}}">
        {{^is "page"}}
        <span class="post-meta">
            <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
        </span>
        {{/is}}
        <h1 class="post-title">{{title}}</h1>
        {{#has tag="dispatches"}}
        <aside class="dispatches-cta">
            <p>
                This is an issue of
                {{#has tag="maintainer"}}
                Maintainer Dispatches,
                {{else}}
                Cryptography Dispatches,
                {{/has}}
                my lightly edited newsletter on 
                {{#has tag="maintainer"}}
                professional Open Source maintenance.
                {{else}}
                cryptography engineering.
                {{/has}}
                <a href="#/portal/signup">Subscribe via email</a> or
                <a href="https://words.filippo.io/dispatches/rss/">RSS</a>.
            </p>
        </aside>
        {{/has}}
        <section class="post-content">
            {{content}}
        </section>
    </article>
    {{> "subscribe"}}
    <script>
        const h2first = document.querySelector(".post-content > h2:first-of-type")
        h2first.parentElement.insertBefore(document.getElementsByClassName("subscribe-cta")[0].cloneNode(true), h2first)
        const h2last = document.querySelector("h2#the-picture")
        if (h2last) h2last.parentElement.insertBefore(document.getElementsByClassName("subscribe-cta")[0].cloneNode(true), h2last)
    </script>
    {{/post}}
</main>
