{{!< default}}

<header><a href="https://filippo.io">
    Filippo Valsorda
</a></header>

<main>
    {{#post}}
    <article class="{{post_class}}">
        {{^is "page"}}
        <span class="post-meta">
            <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
        </span>
        {{/is}}
        <h1 class="post-title">{{title}}</h1>
        {{#has tag="dispatches"}}
        <aside class="dispatches-cta">
            <p>
                This is an issue of Cryptography Dispatches, my lightly edited newsletter on cryptography engineering.
                <a href="https://buttondown.email/cryptography-dispatches?tag=blog">Subscribe via email or RSS.</a>
            </p>
        </aside>
        {{/has}}
        <section class="post-content">
            {{content}}
        </section>
    </article>
    {{/post}}
</main>
