{{!< default}}
<header>
    <div><a href="https://filippo.io"><picture>
        <source srcset="https://words.filippo.io/content/images/2023/02/Logo-Bianco-Filippo-Valsorda-def-web.png" media="(prefers-color-scheme: dark)">
        <img src="https://words.filippo.io/content/images/2023/02/Logo-Nero-Filippo-Valsorda-def-web.png" alt="Filippo Valsorda">
    </picture></a></div>
</header>

<main>
    {{#post}}
    <article class="{{post_class}}">
        {{^is "page"}}
        <span class="post-meta">
            <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
        </span>
        {{/is}}
        <h1 class="post-title">{{title}}</h1>
        <section class="post-content">
            {{content}}
        </section>
    </article>
    {{> "subscribe"}}
    <script>
        const h2first = document.querySelector(".post-content > h2:first-of-type")
        h2first.parentElement.insertBefore(document.getElementsByClassName("subscribe-cta")[0].cloneNode(true), h2first)
        const h2last = document.querySelector("h2#the-picture")
        if (h2last && h2last != h2first) h2last.parentElement.insertBefore(document.getElementsByClassName("subscribe-cta")[0].cloneNode(true), h2last)
    </script>
    {{/post}}
</main>
